.app-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.app-header {
  position: relative;
  height: 500px;
  background-color: #ff694c;
}

.app-header-content {
  position: absolute;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 140px;
  margin-bottom: 240px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app-title {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.app-button {
  height: 50px;
  width: 250px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 30px;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  display: table;
}

.app-button a {
  font-size: 20px;
  margin: 0;
  vertical-align: middle;
  display: table-cell;
}

.buttonName {
  margin: 0;

}

.app-button:hover {
  background-color: #ffffff3b;
}

.app-navbar {
  height: 50px;
  background-color: #600b13d9;
  margin-top: 250px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
}

.team-container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  background-color: #ebebe4;
}

.team-members {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.team-member {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 19px -4px rgba(153,153,153,1);
  background-color: #ffffff7d;
}

.team-member-name {
  padding-top: 15px;
}

.team-member-first-role {
  padding-top: 10px;
}

.team-member-second-role {
  padding-bottom: 20px;
}

.profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.blue-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #009688f5; /*#212a57*/
}

.section-title {
  width: 40%;
  padding: 15px;
  text-align: center;
  background-color: #282c34a8;
}

.section-content {
  padding-left: 150px;
  padding-right: 150px;
  text-align: left;
}

.solutions-container {
  text-align: left;
}

.gray-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ebebe4;
  text-align: center;
}

.solution-label {
  padding-left: 10px;
}

.solution-content {
  padding-bottom: 10px;
}

.customer-picture {
  height: 200px;
  width: 200px;
}

.customer-body {
    height: 235px;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 25px;
    display: flex;
}

.customer-content {
  padding-left: 100px;
  padding-right: 50px;
  display: table;
  height: 200px;
}

.custom-p {
    display: table-cell;
    vertical-align: middle;
}

.competitors-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.competitor-container {
  width: 30%;
  background-color: whitesmoke;
  border-top: 6px solid darkgray;
  border-radius: 10px;
  box-shadow: 7px 7px 19px -4px rgba(153,153,153,1);
  padding: 15px;
}

.competitor-logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #d3d3d39e;
}

.our-advantages-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 25px;
  border-top: 4px solid darkgray;
  text-align: left;
}

.metrics-container {
  display: flex;
}

.metrics-content {
  padding-right: 100px;
  display: table;
  height: 200px;
}

.metrics-picture {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    box-shadow: 7px 7px 19px -4px rgba(153,153,153,1);
}

.costs-container {
  display: flex;
  padding-top: 25px;
}

.revenue-streams-picture {
  width: 256px;
  height: 256px;
  border-radius: 10px;
}

.revenue-streams-text {
  text-align: left;
  padding-left: 50px;
}

.circle {
  height: 120px;
  width: 120px;
  background: whitesmoke;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  vertical-align: middle;
  line-height: 120px;
  font-weight: bold;
  text-align: center;
}

.title-container {
  background: #282c34a8;
  padding: 15px;
  text-align: center;
}

.milestone-container {
  height: 80px;
  text-align: center;
  line-height: 80px;
  background: #ff694c;
}

.wireframe-image {
  width: 300px;
  height: 200px;
  margin: auto;
  display: block;
  cursor: pointer;
}

.transparent-layer {
    background-color: blue;
}

.transparent-layer:hover {
    background-color: gray;
}

.enlargedImageContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.97;
  z-index: 99999;
}

.enlargedImage {
  max-width: 70%;
  max-height: 70%;
  position: relative;
  margin: auto;
  display: block;
  transform: translateY(-50%);
  top: 50%;
}

.closeEnlargedImage {
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.wireframes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wireframe-image-cointainer {
  margin: auto;
}

.imageLabel {
  width: 100%;
  text-align: center;
}

.size-15 {
    font-size: 15px;
}

.size-16 {
  font-size: 16px;
}

.size-20 {
  font-size: 20px;
}

.size-25 {
  font-size: 25px;
}

.size-30 {
  font-size: 30px;
}

.size-35 {
  font-size: 35px;
}

.size-60 {
  font-size: 60px;  
}

.size-75 {
  font-size: 75px;
}

.bold-text {
  font-weight: bold;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.gray {
  color: #333333;
}

.blue {
  color: #3bf4ff;
}