.landing-page-header {
    position: relative;
    height: 1000px;
    margin-top: -250px;
    background-image: url("./images/wallpaper.jpg");
    background-size: cover;
}

.header-content {
    position: absolute;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 610px;
    margin-bottom: 240px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.title {
    padding: 15px;
    background-color: #282c3473;
    border-radius: 10px;
}

.landing-page-content {
    background-color: #040210;
}

.darkblue-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.lightgray-container {
    background-color: #ebebe4;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.our-services-title {
    text-align: center;
    margin-top: 40px;
}

.our-application-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about-us-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.description-container {
    width: 600px;
    height: 300px;
}

.picture-container {
    width: 600px;
    height: 300px;
}

.subscribe-container {
    display: flex;
    height: 35px;
}

.send-button {
    height: 35px;
    width: 100px;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid #FF5722;
    background-color: #FF5722;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.subscribe-input {
    width: 50%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
}

.email-container {
    display: flex;
    align-items: center;
    height: 40px;
}

.email-icon {
    font-size: 30px;
    margin-right: 15px;
}

.copyright-icon {
    margin-right: 10px;
}

.copyright-container {
    color: #ffffffa3;
    text-align: center;
}

.message-container {
    height: 20px;
    color: #FF5722;
}

.text {
    margin-top: 15px;
    margin-bottom: 45px;
}

hr {
    width: 10%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.motto {
    margin-top: 50px;
}

.circles-container {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}

.circle-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.outer-circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #009688;
    margin-left: 65px;
    margin-right: 65px;
}

.inner-circle {
    position: absolute;
    display: inline-table;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    top: 50%;
    left: 50%;
    margin: -66px 0px 0px -68px;
}

.icon {
    font-size: 50px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.horizontal-blue-line {
    width: 20%;
    border-top: 3px solid #009688;
    margin-top: 10px;
}

.horizontal-orange-line {
    width: 20%;
    border-top: 3px solid #FF5722;
    margin-top: 10px;
}